* {
  box-sizing: border-box;
  text-decoration: none;
}

/*------------------------ FOOTER ------------------------*/

.footer {
  display: flex;
  justify-content: space-between;
  min-height: 347px;
  padding: 89px 0 89px 0;
}

/*   FOOTER INFO   */


.footer__info .info {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.info__logo .logo img {
  width: 233px;
}

.copyright {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #7C7C7C;

}

/*   INFO SOCIAL  */

.info__social .social {
  display: flex;
  gap: 24px;
}

.social__link img {
  width: 45px;
  transition: .2s ease;
}

.social__link img:hover {
  border: 2px solid #7C7C7C;
  border-radius: 5px;
}

/*   FOOTER NAV   */

.footer__nav-list {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  gap: 55px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.nav-list__header {
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  padding: 4px;
}

.nav-list__link {
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  padding: 4px;
  border: 1px solid #ffffff;
  transition: .2s ease;
}

.nav-list__link:hover {
  border: 1px solid #000000;
}

/*     FOOTER MEDIA    */

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px 0;
    gap: 40px;
  }
  .footer__info .info {
    align-items: center;
  }

  .footer__nav-list {
    gap: 20px;
  }
}

@media screen and (max-width: 320px) {
  .footer__nav-list {
    gap: 10px;
  }
}

/*     FORM-WYSIWYG TEXT EDITOR    */
.form-wysiwyg {
  min-height: 150px;
  height: 100%;
}

.form-wysiwyg__label {}

.form-wysiwyg__editor {}

.form-input input{
  background-color: #DBDBDB;
  width: 100%;
  height: 28px;
  padding: 7px 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.form-input input:focus {
  background-color: white;
}

.form-input_right {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

.form-input_left {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

.form-input_big{
  position: relative;
}

.form-input_big input {
  background-color: white;
  height: 35px;
  border-radius: 17px;
}

.form-input_big::before {
  content: url("/icons/search_icon.png");
  position: absolute;
  right: -5px;
  top: -2px;
  z-index: 1;
}

/*--------shop-card--------*/
.shop-card {
  position: relative;
  overflow: hidden;
  padding: 5px;
}

.shop-card a {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.shop-card__image {
  height: 90%;
  border-radius: 35px;
  overflow: hidden;
  position: relative;
}

.shop-card__image img {
  width: 100%;
  height: 100%;
}

.shop-card__imageBadge {
  width: 71px;
  height: 39px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}

.imageBadge__img {
  width: 18.33px;
  height: 17.42px;
  margin-right: 4px;
}

.imageBadge__img img {
  width: 100%;
  height: 100%;
}

.imageBadge__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
}

.shop-card__info {
  display: flex;
  width: 100%;
  min-height: 10%;
  align-items: flex-end;
}

.info__col {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.info__leftCol {
  justify-content: start;
  align-content: flex-end;
}

.info__rightCol {
  position: absolute;
  right: 5px;
  bottom: -32px;
  align-content: flex-end;
  transition: all 0.4s ease 0.1s;
}

.leftCol__comicsName {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: black;
  transition: all 0.5s ease 0s;
}

.leftCol__collecName {
  font-size: 12px;
  line-height: 14px;
  color: #474747;
  z-index: 1;
}

.rightCol__prise {
  text-align: end;
  color: #ee171f;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}

.rightCol__buttonWraper {
  width: 82px;
  height: 23px;
  color: #fff;
}

.shop-card__gradient {
  height: 197px;
  width: 100%+10px;
  border-radius: 5px;
  padding: 19px 12px 13px 12px;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));
  position: absolute;
  bottom: -230px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.shop-card__gradient p {
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  opacity: 0;
  transition: all 0.2s ease 0.2s;
}

.shop-card:hover > .shop-card__gradient {
  bottom: 0;
}

.shop-card:hover > .shop-card__gradient p {
  opacity: 1;
}

.shop-card:hover
  > .shop-card__info
  > .info__col
  > .info__leftCol
  > .leftCol__comicsName {
  color: #fff;
}

.shop-card:hover > .shop-card__info > .info__col > .info__rightCol {
  bottom: 0;
}
