.button {
  padding: 5px 0;
  border-radius: 10px;
  background: red;
  color: white;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  min-width: 150px;
}
.button--full {
  display: block;
}

/*button modification*/

.button_white {
  background-color: white;
  color: black;
}
.button_width {
  width: 100%;
}
.button_shadow {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
}

.user-comment {
  align-items: center;
  max-width: 526px;
  padding: 20px 0 20px 0;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(245, 241, 241);
}
.user-comment__item {
  display: flex;
  flex-direction: column;
  max-width: 464px;
  border-radius: 10px;
  border: 1px solid rgb(199, 195, 195);
  background-color: rgb(241, 240, 240);
  padding: 11px;
  gap: 11px;
}

.user-comment-heading {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.user-foto {
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  overflow: hidden;
}
.user-foto img {
  vertical-align: bottom;
}

.user-name {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  min-width: 70px;
  min-height: 14px;
}
.user-status {
  min-width: 49px;
  min-height: 18px;
  border-radius: 12px;
  overflow: hidden;
}
.user-status img {
  vertical-align: bottom;
}
.user-time {
  font-style: italic;
  color: gray;
  font-size: 12px;
  line-height: 14px;
  min-width: 83px;
  min-height: 15px;
}
.user-comment-text {
  padding-left: 11px;
  font-size: 12px;
  line-height: 14px;
}
.user-star {
  position: absolute;
  left: 173px;
  min-width: 110px;
  min-height: 18px;
}

.textareaContainer{
  min-width: 428px;
  height: 100px;
  margin: 0 auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tox.tox-tinymce{
  border-radius: 10px;
  border: none;
}

.form-input {
  background-color: bisque;
  padding: 40px;
}

.form-input__big {
  margin-bottom: 40px;
}

.big-input-label {
  position: relative;
}

#big-input-label__input {
  border-radius: 17px;
  min-width: 206px;
  min-height: 35px;
  border: none;
  padding: 0 27px 0 11px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  outline: 0;
  outline-offset: 0;
}

#big-input-label__input::-webkit-search-cancel-button {
  display: none;
}

#big-input-label__input:focus {
  border: 1px solid #EE171F;
  padding: 0 26px 0 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

#big-input-label__input:hover {
  border: 1px solid #EE171F;
  padding: 0 26px 0 10px;
  cursor: text;
}

.big-input-label__search-sign {
  position: absolute;
  left: 88%;
  top: -58.5%;
  background: #EE171F;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  outline: 0;
  outline-offset: 0;
}

.big-input-label__search-sign img {
  padding-top: 3px;
}

.form-input__text-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-text-modification {
  min-height: 28px;
  border: none;
  outline: 0;
  outline-offset: 0;
  padding: 0 5px 0 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  caret-color: #0093B4;
}

.input-text-modification:valid {
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.input-text-modification:invalid {
  background: #DBDBDB;
}

.input-text-modification:focus {
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.input-all__text-all-round {
  border-radius: 14px;
  width: 100%;
}

.input-right__text-right-round {
  border-radius: 0 14px 14px 0;
  width: 100%;
}

.input-left__text-left-round {
  border-radius: 14px 0 0 14px;
  width: 100%;
}

.header{
  background: #222222;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  box-sizing: border-box;

}

.header__logo{
  display: flex;
  max-width: inherit;
}

.logo{
  display: flex;
  width: max-content;
}

.header__dropdown{
  display: flex;
  justify-content: center;
  padding: 5px;
}

.dropdown:hover{
  background: grey;
}

.dropdown{
  display: flex;
  justify-content: center;
  position: relative;
}

.dropdown__button{
  display: flex;
}

.dropdown__content{
  display: flex;

}


.nav-menu{
  display: none;
}

@media screen and (min-width: 767px){
 .nav-menu{
   position: relative;
   display: flex;
   flex-direction: row;
   gap: 20px;
 }
  .header__dropdown{
    display: none;
    position: absolute;
    pointer-events: none;
  }
}

.dropdown__content .nav-menu{
  position: absolute;
  top: 10px;
  left: -38px;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.35s ease-out;
}

.dropdown:hover .dropdown__content .nav-menu{
  display: flex;
  position: absolute;
  flex-direction: column;
  pointer-events: auto;
  visibility: visible;
  transform: translateY(20px);
  opacity: 1;
}

.dropdown__button{
  margin: 2px;
}

.nav-menu__item{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222223;
  padding: 10px 15px;
}

.nav-menu__item:hover{
  background: #131313;
}

.nav-menu__item a{
  text-decoration: none;
  color: white;
}

.header__user-area{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.cart{
  position: relative;
}

.cart__content{
  position: absolute;
  top: 5px;
  left: -50px;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.35s ease-out;
}

.cart:hover .cart__content{
  display: flex;
  pointer-events: auto;
  background: #ffd8ca;
  visibility: visible;
  transform: translateY(20px);
  opacity: 1;

}

.cart-items{
  display: flex;
  flex-direction: column;

}

.cart-items__item{
  display: flex;
  max-height: 35px
}

@media screen and (max-width: 767px){

  .cart:hover .cart__content{
    display: none;
    position: absolute;
    pointer-events: none;
  }
}


.cart__counter{
  font-size: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: -5px;
  left: 15px;
}

.user-avatar a{
  width: 100%;
  height: 100%;
}

.cart-items__item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.cart-items__item:hover{
background: #deb8ad;
}

.cart-items__item a{
  text-decoration: none;
  color: black;
}


