.button {
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 10px;
  background: aliceblue;
  display: inline-block;
  text-align: center;
  min-width: 150px;
}

.button--full {
  display: block;
}

.user-comment {
  align-items: center;
  max-width: 526px;
  padding: 20px 0 20px 0;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(245, 241, 241);
}
.user-comment__item {
  display: flex;
  flex-direction: column;
  max-width: 464px;
  border-radius: 10px;
  border: 1px solid rgb(199, 195, 195);
  background-color: rgb(241, 240, 240);
  padding: 11px;
  gap: 11px;
}

.user-comment-heading {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.user-foto {
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  overflow: hidden;
}
.user-foto img {
  vertical-align: bottom;
}

.user-name {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  min-width: 70px;
  min-height: 14px;
}
.user-status {
  min-width: 49px;
  min-height: 18px;
  border-radius: 12px;
  overflow: hidden;
}
.user-status img {
  vertical-align: bottom;
}
.user-time {
  font-style: italic;
  color: gray;
  font-size: 12px;
  line-height: 14px;
  min-width: 83px;
  min-height: 15px;
}
.user-comment-text {
  padding-left: 11px;
  font-size: 12px;
  line-height: 14px;
}
.user-star {
  position: absolute;
  left: 173px;
  min-width: 110px;
  min-height: 18px;
}

.textareaContainer{
  min-width: 428px;
  height: 100px;
  margin: 0 auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tox.tox-tinymce{
  border-radius: 10px;
  border: none;
}
